body {
    margin: 0;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.contenitore {
    display: flex;
    flex-direction: column;
    gap: 300px;
    padding-bottom: 100vh;
}

.forma {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.h2 {
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
}

.p {
    margin: 5px 0 0 0;
    font-size: 0.85rem;
    line-height: 1.2;
    font-style: italic;
}


.quadrato {
    background-color: #3498db;
}

.cerchio {
    background-color: #e74c3c;
    border-radius: 50%;
}

.triangolo {
    width: 220px;
    height: 150px;
    background-color: #f1c40f;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2px;
}

.rettangolo {
    width: 250px;
    background-color: #2ecc71;
}

.rombo {
    background-color: #9b59b6;
    width: 150px;
    height: 180px;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}