body {
    color:black;
    background-color:green
}

#page {
    width: 80%;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right:auto ;

background-color: red;
}

#Stocallo {
    background-color: white;
}

#Lorena {
    background-color: blueviolet
}

#altezzavisibile {
    background-color: aqua;
}

.section{
    padding: 16px
}

.gallery{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.gallery figure{
width: 30%;
}